#main{
    align-items: center;

}

  body{
      background-image: url(IMAGES/bg.png);
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
  }
      
 #none{
   height:100px;
   width:auto;

 }
 #none2{
  height:30px;
  width:auto;

}
 .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
#img{
  height: 58.4px;
  width: 58.4;
}
#card{
  background-color:#292b2c;
}

.feedback{
border-radius: 1rem;
  border: 1px solid transparent;
 backdrop-filter: blur(1rem);
  box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0,0.5);
 background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
     /* background-image: url(IMAGES/fdbk2.png); 
  */
   
    background-size: 100%;
 border-top-color:rgba(255, 255, 255, 0.5); 
 border-left-color: rgba(255, 255, 255, 0.5);
 border-right-color:rgba(255, 255, 255, 0.1); 
 border-bottom-color: rgba(255, 255, 255, 0.1);
 
}





#p{
  text-align: justify;
}
#card:hover{
 
  cursor: pointer;
  border: 2px;

  }
  #img_c:hover{
 transition: 0.9S;
 transform: translatey(-30px);

  }

#p{
  opacity: 0;
}
#img_c{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


  #img_c:hover~#p{
    opacity: 1;
     transition: 0.8s;
   }
  
#p:hover{
  opacity: 1;
}
#link{
  text-decoration: none;
  color:aqua;
}
#cim{
  width:250px;
  height: auto;
}
#head6{
  color: #e7a746;
}
#h1{
  color: #e7a746;
}
#fbimg{
  width: 100%;
  height: auto;
}
.wrp{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.crd {
  position: relative;
  width: 300px;
  height: 350px;
  background: url(IMAGES/avatar.png);
  background-size: cover;
  cursor: pointer;
  border: 12px;

  border-radius: 6px
}

.ove {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  cursor: pointer;
  opacity: 0;
  transition: all 1s;

  border-radius: 6px
}

.crd:hover .ove{
  opacity: 1
}


.ove .about {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 40%;
  color: #fff;
  flex: column
}
@media(max-width:768){
  #contacttxt{
    padding-top: 30px;
  }
}
#contacttxt{
  padding-top: 150px;
}
.a2{
  text-decoration:none;
  color:white;
}
.a2:hover{
  color:black;
}
