#main{
    align-items: center;

}
.head{
    margin-left: 4%;
    color:brown;
    margin-top: 5%;
    text-align: center;
  }
  body{
      background-image: url(background.jpg);
      background-repeat: none;
      background-attachment: fixed;
      
  } 
  ul{
      list-style-type: none;
      background-color:rgba(0, 0, 0, 0.87);   
          text-align:right;
     overflow: hidden;
     margin: 0;
     padding: 0;
opacity: 0.8;
border-radius: 10px;
  }
  li{
     
float:left;
       
     
  }
  li a{
    display: block;
      text-decoration: none;
      color: white;
      text-align: center;
      padding: 13px 20px ;
      margin: 10px;
      font-weight: bolder;
     
  }
  
  .first:hover{
   
   
    color: black;
   
}

  li a:hover{
      
      color: rgb(151, 220, 224);
      transition: 0.7S;
        
  }
  #none{
      height: 232px;
      width:100% ;
  }

  #footer{
      width: 100%;
      background-color: rgba(0, 0, 0, 0.788);
      color: white;
       text-align: center;
       height: 33px;
  }
  .foot{
    padding: 5px;
 